#!/usr/bin/make -f

DESTDIR=debian/noflux

%:
	dh $@ --with=systemd

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	cp noflux.conf $(DESTDIR)/etc/noflux.conf
	cp noflux $(DESTDIR)/usr/bin/noflux

override_dh_installinit:
	dh_installinit --noscripts
